 /* src/index.css */
 @import "tailwindcss";

@theme {
    --color-cream: #FDF6EE;
    --color-slate: #1B2230;
    --color-bodytext: #364150;
    --color-sage: #8AA186;
    --color-olive: #6B883F;
    --color-blush: #F6ECE5;
    --color-stone: #E2E5E9;
    --color-gold: #E8B059;
    --color-deepEarthBlack: #1C1C1C;
    --color-WarmBoneWhite: #F4F1EC;
    --color-ClayRed: #8B3A2F;
    --color-SoftSage: #6F7E6C;
    --color-WarmCopper: #B87333;
    --color-StormGray: #54575A;
    --font-serif: "Playfair Display", serif;
    --font-sans: Inter, system-ui, sans-serif;
    --font-accent: Cormorant, serif;
 }

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
  }
  a:hover {
    color: #747bff;
  }
  button {

  }
} 
